.fT-Resp{
    font-size: clamp(12px, 0.9vw, 40px);
}

h1{
    font-size: calc(24px + 0.15vw);
}

h2{
    font-size: calc(20px + 0.15vw);
}

h3{
    font-size: calc(15px + 0.15vw);
}

h4{
    font-size: calc(13px + 0.15vw);
}

pre {
    overflow: unset;
}